.topthing{
    background-color: gray;
}

.highscores{
    float: left;
}

.countdowntime{
    left: 100px;
}

.questions{

    text-align: center;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;

}

.question{
    color: blue;
    background-color: lightgreen;
    margin: 30px;
    border-radius: 20px;
}

.answer{
    background-color: hotpink;
    margin: 30px;
    border-radius: 20px;
    rotate: 0deg;
    transition: all 0.3s ease-in-out;
}

.cli{
    rotate: 180deg;
    background-color: teal;
}
